<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fesskiev.mediacenter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".MediaApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Player">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.audio.tracklist.TrackListActivity"
            android:parentActivityName="com.fesskiev.mediacenter.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.audio.player.AudioPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName="com.fesskiev.mediacenter.ui.audio.tracklist.TrackListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.audio.tracklist.TrackListActivity" />
        </activity>

        <activity
            android:name=".ui.audio.player.AudioURIActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.video.player.VideoExoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Base.Theme.Player.VideoExoPlayer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />

                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*MKV" />

                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*TS" />

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.effects.EffectsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.audio.player.AudioPlayerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.audio.player.AudioPlayerActivity" />
        </activity>

        <activity
            android:name=".vk.VKAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog.Theme.MediaCenter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".vk.VKActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".vk.GroupAudioActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".vk.VKActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vk.VKActivity" />
        </activity>

        <activity
            android:name=".ui.about.AboutActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.playlist.PlayListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Player.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.audio.tracklist.PlayerTrackListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.audio.player.AudioPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog.Theme.MediaCenter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fesskiev.mediacenter.ui.audio.player.AudioPlayerActivity" />
        </activity>

        <activity
            android:name=".ui.billing.InAppBillingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.FileSystemService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.PlaybackService"
            android:exported="false" />

    </application>

</manifest>